* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

header {
    background-color: $color-primary;
    color: white;
    width: 320px;
    max-height: 15vh;
    display: flex;
}

header h1,
header img, 
header h3, 
header svg {
    flex: 1 25%;
}

header img {
    border-radius: 50%;
    height: 15px;
}

nav {
    max-width: 100px;
    max-height: 20px;
}

.bell {
    height: 100px;
    fill: white;
}
