* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

header {
    background-color: $color-primary;
    color: white;
    max-height: 30vh;
    display: flex;
}

nav {
    max-width: 100px;
    max-height: 20px;
}

.bell {
    height: 100px;
    fill: white;
}
img {
    fill: white;
}