.headline {
    font-weight: 400;
    padding: 10px;
}

main h3 {
    text-transform: uppercase;  
    font-weight: 400;  
    padding: 10px;
}

.traffic-nav {
    display: flex;
    padding-inline-start: 0;
    font-weight: 300;
    padding-right: 20px;
    padding-left: 20px;
}